// Colors
$body-color: #333;
$error-color: #e14545;
$completed-color: green;
$optional-color: yellow;

// Backgrounds
$body-background: #fff;

// Links color
$a-link-color: #fff;
$a-hover-color: #fff;

$header-height: 56px;
$footer-height: 106px;

// theme-colors
$color-first: #001e38;
$color-second: #21afe5;
$color-third: #ccc;
$color-fourth: #797979;

// animation
$td: 0.3s;
$ttf: ease;